body {
	background-color: grey;
	text-align:center;	
}
.main {
	/* left:30%; */
	margin:0 auto;
	width:512px;
	top:10px;
}
/*单元格的颜色*/
.red {
	font-size:22px;
	background-color: red;
}
.pink {
	font-size:22px;
	background-color: pink;
}
.green {
	font-size:22px;
	background-color: green;
}
.blue {
	font-size:22px;
	background-color: blue;
}
.yellow {
	font-size:22px;
	background-color: yellow;
}
.orange {
	font-size:22px;
	background-color: orange;
}
/*单元格的样式*/
.box {
	width:50px;
	height:50px;
	margin:0px;
	border :0px;
	position: absolute;/*绝对定位*/ 
}
/* 选中后的样式*/
.highlight{
	border: 1px solid black;
}
ul {
	list-style-type: none;
}
li{
		width:80px;
		height:30px;
		position:relative;
		margin:3px;
		float:left;
}
.top{
	margin:0 auto;
	width:600px;
	top:10px;
	/*background-color:red;*/
}
.top_up{
	margin:0 auto;
	width:510px;
	height:100px;
	top:10px;
}
